body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 1000; 
    width: 100%; 
    box-sizing: border-box; 
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.project h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.project p {
    color: #666;
}
